.header-left{
    width: 33%;
}
.header-right{
    width: 33%;
    display: block;
}
.header-center{
    float: left;
    width: 33%;
    display: block;
}
.mobile-nav-trigger{
    display: none;
}
.desktop-right-nav{
    display: block;
}