<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vintour</title>
</head>
<body>
    <header class="navbar-fixed">
        <nav class="nav-extended">
            <div id="nav-upper" class="nav-wrapper">
                <ul>
                    <li>WINE</li>
                    <li>VINO</li>
                    <li>wine</li>
                    <!-- hi im forrest  -->
                </ul>
            </div>
            <div class="nav-content">
                <ul class="right">
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}

    <footer>
        <!-- forrest sucks so bad -->
    </footer>

</body>
</html>