{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="band content profile-content" >
        <div class="inner-wrap">
            <h1>{{ user.username }}</h1>
            <div class="profile-band1">
                <div class="pb1-left">
                    <!-- <div class="profile-image" style="background-image: url('{% static "images/tanya.jpg" %}');"></div> -->
                </div>
                <div class="pb1-right">
                    <a href="" class="plus-button">+</a>
                    <a href="" class="minus-button">-</a>
                </div>
            </div>
            <div class="profile-band2">
                <div class="trips-carousel owl-carousel owl-theme">
                    {% if tours %}
                        {% for tour in tours %}
                        <div class="trip-item item">
                            <img src="{% static "images/bg.jpg" %}">
                            <span class="trip-title">{{ tour.name }}</span>
                        </div>
                        {% endfor %}
                    {% endif %}   
                </div>
            </div>
        </div>
    </div>

{% endblock %}