{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>SERP</h1>

<div class="container">
    <div class="columns">
        {% for place in query_result %}
        <div class="is-half">
            <ul>
                <li>Name: {{ place.name }}
                <li>Address: {{ place.address }}
                <li>Rating: {{ place.rating }}
                <li>Open Now?: {{ place.open_now }}
                <li>Region: {{ place.region }}
                <li>Place ID: {{ place.place_id }}
            </ul>

            <div class='select'>
            <form style='display:inline' method='POST' action="/tours/add/" id='addstop'>
                <select name="tour" id="select">
                    <option value='create'>Create new tour...</option>
                    {% for tour in tours %}
                        <option value='{{tour.id}}'>{{ tour.name }}</option>
                    {% endfor %}
                    <input type="hidden" name='winery' value='{{ place.id }}' >
                    <input type="submit" class='btn' value='Add Stop'></input>
                </select>
                    {% csrf_token %}
                </form>
            </div>
            </li>
        </div>
        {% endfor %}
        
    </div>
</div>

{% endblock %} 