{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
/* h2, h3 {
  color: white;
  font-weight: 700;
}
body {
  height: 100%;
  background-image: url('{% static "images/searchbg.jpg" %}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: silver;
}
.sort-button-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;

}
.sort-button-container form {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;

}
.sort-button-container form :first-of-type {
  margin-left: 0;
}
.tourname {
  border: 2px solid #ffc107;
  border-radius: 4px;
  width: 8%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.btn {
    background-color: #ffc107;
    border: 1px solid #ffc107;
    color: #333;
    width: 8%;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 30px;
    border-radius: 3px;
    margin-top: 10px;
    opacity: 1;
    transition: all 350ms;
    font-size: 14px;
    outline: none;
    &:hover{
        opacity: 0.8;
        outline: none;
    }
    &:focus{
        outline: none;
    }
}
.btncard {
    background-color: #ffc107;
    border: 1px solid #ffc107;
    color: #333;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 30px;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 1;
    transition: all 350ms;
    font-size: 14px;
    outline: none;
    &:hover{
        opacity: 0.8;
        outline: none;
    }
    &:focus{
        outline: none;
    }
}
.winery-card {
  display: inline-block;
  border: 1px solid black;
  height: auto;
  width: 60%;
  background-color: rgb(207, 207, 207);
}
strong {
  color: #333;
  padding: 5px;
}
iframe {
  margin-top: 80px;
  height: 50vh;
} */
.winery-container {
  margin: 0 auto;
}
header {
  position: relative !important;
}
/* #winery-cards-sortable {
  display: flex;
} */
</style>
<div class="winery-container">
    <div class="columns" style="margin: 0 auto;">
      <div class="column">
        <div style="width: 100%; position: absolute; bottom: 80px;">
            <h2>{{ user }}'s Tour: {{ tour.name }}</h2>
            <h3>Rename {{ tour.name }}:</h3>
            <form action="{% url 'name_tour' tour.id %}" method="post">
              <input type="text" name="name" class="tourname" value="{{ tour.name }}">
              <input type="submit" class="btn" value="Save">
              {% csrf_token %}
            </form>
        </div>
      </div>
      <div class="column">
          <div id="map-container">
              <iframe
              width="800"
              height="400"
              frameborder="0" style="border:0"
              src="{{ embed_url }}" allowfullscreen>
              </iframe>
            </div>
      </div>
    </div>
    <div class="columns">
        <div class="column">
            <div>
                <div id="winery-cards-sortable" style="display: flex;"> 
                {% for winery in waypoint_dicts %}
                <div class='winery-card'>
                  <p><strong>{{ winery.name }}</strong></p><br>
                  <strong>{{ winery.region }}</strong><br>
                  <strong>{{ winery.address }}</strong><br>
                  <strong>{{ winery.desc }}</strong><br>
                  <strong>{{ winery.price }}</strong><br>
                  <div class="sort-button-container">
                    <form action="reorder/" method="POST">
                      <input type="hidden" name='winery' value='{{ winery.name }}' >
                      <input type="hidden" name='position' value='{{ forloop.counter0 }}' >
                      <input type="submit" class='btncard' name="moveup" value="⇧"></input>
                      {% csrf_token %}
                    </form>
                    <form action="reorder/" method="POST">
                      <input type="hidden" name='winery' value='{{ winery.name }}' >
                      <input type="hidden" name='position' value='{{ forloop.counter0 }}' >
                      <input type="submit" class='btncard' name="movedn" value="⇩"></input>
                      {% csrf_token %}
                    </form>
                    <form action="unassoc_winery/{{ winery.pk }}/" method="POST">
                      <input type="submit" class='btncard' value="delete"></input>
                      {% csrf_token %}
                    </form>
                  </div>
                  
                </div>
                {% endfor %}
                </div>
        </div>
      </div>
  
  
  <!-- </div>
  <h2>{{ user }}'s Tour: {{ tour.name }}</h2>
  <h3>Rename {{ tour.name }}:</h3>
  <form action="{% url 'name_tour' tour.id %}" method="post">
    <input type="text" name="name" class="tourname" value="{{ tour.name }}">
    <input type="submit" class="btn" value="Save">
    {% csrf_token %}
  </form>
  <div id="winery-cards-sortable" style="display: flex;"> 
  {% for winery in waypoint_dicts %}
  <div class='winery-card'>
    <p><strong>{{ winery.name }}</strong></p><br>
    <strong>{{ winery.region }}</strong><br>
    <strong>{{ winery.address }}</strong><br>
    <strong>{{ winery.desc }}</strong><br>
    <strong>{{ winery.price }}</strong><br>
    <div class="sort-button-container">
      <form action="reorder/" method="POST">
        <input type="hidden" name='winery' value='{{ winery.name }}' >
        <input type="hidden" name='position' value='{{ forloop.counter0 }}' >
        <input type="submit" class='btncard' name="moveup" value="⇧"></input>
        {% csrf_token %}
      </form>
      <form action="reorder/" method="POST">
        <input type="hidden" name='winery' value='{{ winery.name }}' >
        <input type="hidden" name='position' value='{{ forloop.counter0 }}' >
        <input type="submit" class='btncard' name="movedn" value="⇩"></input>
        {% csrf_token %}
      </form>
      <form action="unassoc_winery/{{ winery.pk }}/" method="POST">
        <input type="submit" class='btncard' value="delete"></input>
        {% csrf_token %}
      </form>
    </div>
    
  </div>
  {% endfor %}
  </div> -->
</div>
{% endblock %} 